@import "../../index.scss";

.header-outer {
    background-color: var(--primary-color);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1;

    .header-inner {
      width: 100%;
      height: 100%;
      display: flex;
       justify-content: space-around;
  
      .content {
        display: flex;
        align-items: center;
        
  
        .title h1 {
          font-size: $title-size;
          color: $font-color-white;
          margin-left: 20px;
          font-weight: bold;
        }
      }
  
      .mode-btn {
        .btn-outer {
          width: 92px;
          height: 39px;
          background-color: $primary-white;
          border-radius: 20px;
          margin: 5px 0 5px 0;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          display: flex;
          align-items: center;
          padding: 5px;
  
          .btn-inner {
            width: 40px;
            height: 38px;
            background-color: var(--primary-color);
            border-radius: 50%;
          }
        }
      }
    }
  
    &.dark-mode {
      background-color: var(--primary-color); 
      .content .title h1 {
        color: $font-color-white; 
      }
      .mode-btn .btn-outer .btn-inner {
        background-color: var(--primary-color); 
      }
      .btn-outer{
        justify-content: end;
      }
    }
  }
  