.pieChart-outer{
    background-color: var(--foreground-color);
    border-radius: 20px;
    width: 25vw;
    padding: 20px;
    .inner{
        color: var(--font-color-secondary);
        display: flex;
        flex-direction: column;
        
        .chart{
            margin-top: 10px;
            margin-left: 20px;
        }
    }
}