@import '../../../index.scss';

.datacard-outer{
    width: 100%;
    height: auto;
    background-color: transparent !important;
    border: none;
    .datacard-inner {
        width: 100%; 
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: var(--foreground-color);
        border-radius: 20px;
        padding-bottom: 20px;
        padding-top: 10px;
        
        .top-row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 10px;
            margin-right: 20px;
            h3{
                font-size: $title-size;
                color: var(--font-color-secondary);
                
            }
            .username{
                margin-left: 20px;
            }

        }
        .bottom-row {
            display: flex;
            justify-content: flex-end;
            margin-top: 10px;
            margin-right: 20px;

            button{
                width: 120px;
                height: 30px;
                padding-bottom: 5px;
                background-color: $accent-color-3;
                color: var(--font-color-secondary);
                border-radius: 20px;
                font-weight: 600;
            }
            .update-btn{
                margin-right: 20px;
            }
            .delete-btn{
                color: $danger-color;
            }
        }
    }
}
