@import "../../../index.scss";

.navBtn-link{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--accent-color-3);
    width: 150px;
    height: 40px;
    border-radius: 10px;
    text-decoration: none;
    h3{
        font-size: $text-size;
        margin-bottom: 0;
        margin-right: 10px;
        color: var(--font-color-secondary);
    }
    .icon{
        font-size: 20px;
        color: white;
    }
}