

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
  }
  
  tr {
    background-color: #f2f2f2;
  }


.btn {
  padding: 0;
  margin: 5px;
}  