.overview-outer{
    background-color: var(--foreground-color);
    border-radius: 20px;
    width: 38vw;
    padding: 20px;
    .inner{
        color: var(--font-color-secondary);
        .top{
            h3{
                color: var(--font-color-secondary);
            }
            p{
                color: var(--font-color-secondary) ;
            }
        }
        .bottom-table{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .row-one{
                display: flex;
                justify-content: space-between;
                list-style: none;

                p:nth-child(4) {
                    color: red;
                }
                p:nth-child(5) {
                    color: green;
                }
            }
            .hr-1{
                border: none; 
                border-top: 1px solid var(--border-color);
            }
            .dot-line{
                border: none;
                border: dashed 1px var(--border-color);
            }
            }

    }
}