@import '../../index.scss';
.outer{
    padding: 20px;
    background-color: var(--background-color);
    .top-section{
        display: flex;
        justify-content: space-between;

        .card{
            margin: 5px;
            display: flex;
            flex-direction: row;
            width: 45vw;
            justify-content: space-between;
            background-color: transparent;
            border: none;
        }
        .btn{
            height: 140px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: var(--font-color-secondary);
            border: none;
            margin-right: 40px;
        }
    }
    .search-bar{
        margin-top: 30px;
    }
    .table{
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 40px;

        .inner{
            width: 80%;
           
            .header{
                width: 100%;
                display: flex;
                
    
                h3{
                    font-size: $header-1;
                    font-weight: 600;
                    margin-bottom: 0;
                    background-color: transparent;
                    border: none;
                    color: var(--font-color-secondary);
                    
                }
                h3:not(:first-child){
                    margin-left: 10vw;
                }   
            }
            hr{
                width: 100%;
                border: 1px solid var(--font-color-secondary);
            }
            .cards{
               display: flex;
               flex-direction: column;
               padding-bottom: 5px;
            }
        }
        
    }
}